<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet"> 
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <section class="section section__hero">
    <div class="section__content">
      <div class="flexgrid flexgrid--columns">
        <div class="hero__nav">
          <a href="/#projects">projects</a>          
          <a href="/#skills">skills</a>
          <a href="/#code_examples">code examples</a>
          <a href="/#contact_me">contact me</a>
        </div>
        <a href="/" class="hero__header">
          <div class="hero__scene">
            <div class="hero__anim cube">
              <div class="hero__section hero__section--1"></div>
              <div class="hero__section hero__section--2"></div>
              <div class="hero__section hero__section--3"></div>
            </div>
          </div>
          <div class="hero__titles">
            <h2 class="hero__title hero__title--main">Mark Hammond</h2>
              <h4 class="hero__title hero__title--sub hero__title--cursor"></h4>
          </div>
        </a>
      </div>
    </div>
  </section>
  {{ content }}
  <section class="section section--dark section__footer flexgrid flexgrid--columns">
    <h4 id="contact_me" class="footer__header"><a href="mailto:mark_hammond@live.co.uk">mark_hammond@live.co.uk</a></h4>
    <a class="footer__header" href="https://github.com/mhammo"><img class="logo__github" src="assets/img/GitHub-Mark-Inverted-64px.png"><span>https://github.com/mhammo</span></a>
    
  </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
<script src="main-client.js"></script>
<script>
  var transition = 2000

  function changeToStack() {
    var cubes = document.querySelectorAll('.hero__anim');
    [].slice.call(cubes).forEach(function (el) {
      el.classList.add('out')
      setTimeout(function () {
        el.classList.remove('cube')
        el.classList.remove('out')
        el.classList.add('stack')
      }, 500);
    });
  }

  function changeToBar() {
    var cubes = document.querySelectorAll('.hero__anim');
    [].slice.call(cubes).forEach(function (el) {
      el.classList.add('out')
      setTimeout(function () {
        el.classList.remove('stack')
        el.classList.remove('out')
        el.classList.add('bar')
      }, 500);
    });
  }

  function changeToCube() {
    var cubes = document.querySelectorAll('.hero__anim');
    [].slice.call(cubes).forEach(function (el) {
      el.classList.add('out')
      setTimeout(function () {
        el.classList.remove('bar')
        el.classList.remove('out')
        el.classList.add('cube')
      }, 500);
    });
  }

  function typewriter(selector, speed, txt) {
    var e = document.querySelector(selector);
    var promise = new Promise(function (resolve) {
      var i = 0;
      e.innerText = "";
      e.style.opacity = 1;

      var writeText = function () {
        if (i < txt.length) {
          e.innerHTML += txt.charAt(i);
          i++;
          setTimeout(writeText, speed);
        }
        else {
          resolve();
        }
      }

      writeText();
    });

    return promise;
  }

  var headers = ["Data Analytics", "Full-stack development", "Data visualisation"];

  function changeSubHeader(i) {
    if (i >= headers.length || i == null)
      i = 0;

    switch (i) {
      case 0:
        var f = changeToCube
        break;
      case 1:
        var f = changeToStack
        break;
      case 2:
        var f = changeToBar
        break;
    }

    f();
    setTimeout(function () {
      typewriter(".hero__title--sub", 120, headers[i])
        .then(function () {
          setTimeout(function () {
            i++;
            changeSubHeader(i);
          }, transition);
        });
    }, 500);
  }

  changeSubHeader(1);	 
</script>
</body>

</html>