
.flexgrid {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  margin: 0;

  &.flexgrid--columns {
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .flexgrid {
    &.flexgrid--rows-small {
      flex-direction: rows;
    }
    &.flexgrid--columns-small {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 560px) {
  .flexgrid {
    &.flexgrid--rows-xs {
      flex-direction: rows;
    }
    &.flexgrid--columns-xs {
      flex-direction: column;
    }
  }
}

.flexbox {
  flex: 1 1 0;
  margin: .5em;
  display: flex;

  &.flexbox--columns {
    flex-direction: column;
  }

  &.flexbox--2 {
    flex: 2 1 0;
  }

  &.flexbox--3 {
    flex: 3 1 0;
  }
}

