.flexgrid_skills {
  border-top: 1px solid #ccc;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 320px;
  padding: 20px;
  max-width: 760px;
  margin: auto;  
}

@media screen and (max-width: 760px) {
  .flexgrid_skills {
    max-height: 500px;
    max-width: 500px;
  }
}

.flexgrid__skills_key {
  max-width: 300px;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 10px 0 10px 0;
  padding-left: 10px;
  align-content: flex-start;
  position: relative;

  &:before {
    content: "";
    font-size: 1.3em;
    color: $color-1;
    display: block;
    height: 0;
    width: 0;
    left: -1.3em;
    top: -.3rem;
    position: relative;
  }
}

.skill--star {
  &:before {
    content: "\2605";    
  }
}

.skill--plus {
  &:before {
    color: $color-2;
    content: "\002B";
    font-weight: 600;
    font-size: 2em;
    top: -.7rem;
    left: -.9em;
  }
}

.skill--moderate {
  &:before {
    color: $color-3;
    content: "\2B29";
    font-size: 2em;
    top: -.7rem;
    left: -.9em;
  }
}


