---
---

/* Colours */

$color-primary: #00144D;
$color-grey: #ECECEC;
$color-dark: #131313;

$color-1: #003FAC;
$color-2: #00144D;
$color-3: #006FCF;

@import 'navbar';
@import 'heroAnim';
@import 'flex';
@import 'projects';
@import 'skillset';
@import 'code-examples';

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Roboto');


div {
  box-sizing: border-box;
}


  html, body {
    line-height: 1.333333333;
    background-color: $color-primary;
    color: #fff;
    font-family: 'Montserrat', sans-serif;;
    margin: 0;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: lighten($color-1, 40);
      text-decoration: underline;
    }
  }
  
.navbar {
  background: $color-primary;
  height: 100px;
  width: 100%;
  display: flex;
}

.section {
  padding: 1em 0 2em 0;

  &.section__hero {
    width: 100%;
    margin-top: 0;    
  }
  
  &.section__sectors { 
    min-height: 800px;
  }
}

.section__content {
  width: 1200px;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
}

.section__hero {
  flex-flow: row-reverse;
}

.section__header {
  margin: 1em auto;
}

.section.section__footer {
  padding: 3em 0;
}

.footer__header {
  font-size: 1em;
  margin: .5em auto;
}

.section--grey {
  background: $color-grey;
}
.section--white {
  background: #fff;  
}

.section--white,.section--grey {
  a {
    color: $color-1;
    &:hover {
      color: lighten($color-1, 20);
    }
  }
}

.section--dark {
  background: $color-dark;
}

.section--grey,.section--white {
  color: black;

  .section__header {
    color: #004F7A;
  }
}

@media screen and (max-width: 1200px) {
  .section__content {
    width: auto;
    margin: 0 1em;
  } 
}

ul li {
  list-style: none;
}

ul li:before {
  content: "";
  border-color: transparent $color-1;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.5em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}

.logo__github {
  width: 32;
  height: 32;
  margin-right: 12;
}

.section__aboutme {
  padding: 2em 0;
  font-size: 1.2em;
}

.text--center {
  text-align: center;
}