$color-sunburst-1: rgb(31, 153, 58);
$color-sunburst-2: rgb(12, 122, 173);
$color-sunburst-3: rgb(105, 36, 161);
$color-sunburst-4: rgb(45, 182, 152);
$color-sunburst-5: rgb(182, 95, 45);

.project {
  padding: 1em;
  flex: 1 1 0;  
  transition: all .3s;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;  
  color: #fff;
  box-sizing: border-box;
  min-height: 320px;

  &.project--green {
    background: $color-1;
    border: $color-1 solid 0em;
    &:hover {
      background: $color-dark;
      border: $color-1 solid 1.5em;

      .project__logo__golab__text--alt {
        fill: #26a2c8;
      }
    }
  }

  &.project--blue {
    background: #011E71;
    border: #011E71 solid 0em;
    &:hover {
      background: $color-dark;
      border-width: 1.5em;
    }
  }

  &.project--purple {
    background: $color-3;
    border: $color-3 solid 0em;
    &:hover {
      background: $color-dark;
      border: $color-3 solid 1.5em;
    }
  }
}

.project__image {
  height: 90px;
  margin: 2em auto;
  max-width: 100%;
}

.project__subheader {
  align-self: center;
  margin: 0 auto;
  letter-spacing: .2em;
}

.project__skillset {
  color: white; 
  font-weight: bold;
  align-self: center;
  margin-top:2em;
}

.project__sunburst__section {
  fill: none;
  stroke-width: 1;
  stroke: white;  
  transition: all .3s;
}

.project__sunburst__svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.project__sunburst__box {
  position: relative;
  margin: 2em auto;
}

.project__sunburst {
  &:hover {    

    .project__sunburst__section--green {
      stroke: $color-sunburst-1;
    }
    .project__sunburst__section--blue {
      stroke: $color-sunburst-2;
    }
    .project__sunburst__section--purple {
      stroke: $color-sunburst-3;
    }
    .project__sunburst__section--turquoise {
      stroke: $color-sunburst-4;
    }
    .project__sunburst__section--orange {
      stroke: $color-sunburst-5;
    }
  }
}

.project__logo--erasmus {
  width: 430px;
  height: 60px;
  align-self: center;
  margin: 0 auto;  
}

@media screen and (max-width: 1200px) {
  .project__logo--erasmus {
    width: 350px;
    height: 45px;
  } 
}

@media screen and (max-width: 760px) {
  .project__logo--erasmus {
    width: 260px;
    height: 35px;
  } 

  .project__sunburst__box {
    display: none;
  }

  .project--sunburst {
    min-height: 500px;
  }
}

.project__logo--golab {
  margin: 2em auto;
  width: 400px;
  height: 90px;
}

.project__logo__golab__text {
  fill: white;
}

.project__logo__golab__text--alt {
  transition: fill 0.3s;
}



