.skillset {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  margin: 10px;
  justify-content: space-evenly;
  align-content: flex-start;
}

.skillset--frontend {
  border: $color-1 solid 1px;
  flex: 2 1;
}

.skillset--backend {
  border: $color-2 solid 1px;
  flex: 2 1;
}

.skillset--database {
  border: $color-3 solid 1px;
  flex: 1 1;
  justify-content: center;
}

.skillset__skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 10px  
}

.skillset__skill--database {
  width: 100%;
}

@media screen and (max-width: 880px) {
  .skillset--database {
    flex: 2 1;
  } 
}

.skillset__skill__content {
  width: 100%;
  height: 80px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s;
}

.skillset__skill__content--frontend {
  color: $color-1;
  border: $color-1 solid 1px;
}

.skillset__skill__content--backend {
  color: $color-2;
  border: $color-2 solid 1px;
}

.skillset__skill__content--database {
  color: $color-3;
  border: $color-3 solid 1px;
}

@media screen and (max-width: 880px) {
  .skillset {
    flex: 2 1;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .skillset__skill--frontend {
    width: auto;
    flex: 0 1 auto;
  }
  
  .skillset__skill--backend {
    width: auto;
    flex: 0 1 auto;
  }  

  .skillset__skill--database {
    width: auto;
    flex: 0 1 auto;
  }
}

$skillset-hover-border: black solid 1px;

.skillset__borders {
  justify-content: space-between;
  min-width: 100%;
  padding: 0 0.5em;
  display: flex;
}
.skillset__border {
  width: 10px;
  height: 10px;
  border: transparent solid 1px;
  transition: border 0.3s;
}

.skillset__border--top-left,.skillset__border--top-right {
  margin-top: 0.5em;
}
.skillset__border--bottom-left,.skillset__border--bottom-right {
  margin-bottom: 0.5em;
}

.skillset__skill:hover {
  font-weight: bold;
  .skillset__border--top-left {
    border-left: $skillset-hover-border;
    border-top: $skillset-hover-border;
  }
  .skillset__border--top-right {
    border-right: $skillset-hover-border;
    border-top: $skillset-hover-border;
  }
  .skillset__border--bottom-left {
    
    border-left: $skillset-hover-border;
    border-bottom: $skillset-hover-border;
  }
  .skillset__border--bottom-right {
    border-right: $skillset-hover-border;
    border-bottom: $skillset-hover-border;
  }

  .skillset__skill__content--frontend {
    background: $color-1;
    color: $color-primary;
  }  
  .skillset__skill__content--backend {
    background: $color-2;
    color: $color-primary;
  }  
  .skillset__skill__content--database {
    background: $color-3;
    color: $color-primary;
  }
}

